<style>
  nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: aliceblue;
    padding: 20px;
  }

  nav a{
    color: whitesmoke;
    text-decoration: none;
  }

  nav a.active{
    color: red;
  }
</style>

<nav>
  <!-- Esta clase de routerLinkActionOptions lo que hace es que solamente esa exacta actuara -->
  <a routerLink="/" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">Contador</a>

  <a routerLink="/hero" routerLinkActive='active'>Super Heroe</a>

  <!-- Los routerLink no distinguen de minusculas y mayusculas -->
  <a routerLink="/dragonball" routerLinkActive='active'>DragonBall</a>

  <!-- Los routerLink no distinguen de minusculas y mayusculas -->
  <a routerLink="/dragonball-super" routerLinkActive='active'>DragonBall-Super</a>
</nav>
